<section class="box services" id="services">
    <div class="services__title">
        <h2 class="services__title-text">SERVICES</h2>
    </div>
    <div class="cards">
        <div class="card card-1">
            <div class="card__header">
                <div class="card__icons">
                    <img src="./assets/icons/server.svg" alt="" class="card__icon card__icon--filter" />
                </div>
                <div class="card__titles">
                    <h2 class="card__title"><span class="card__title--span">Backend </span>developer</h2>
                </div>
            </div>
            <div class="card__body">
                <p class="card__text">
                    I specialize in developing robust web applications using
                    Java and Spring Boot. My focus is on ensuring application
                    resilience while implementing stringent security measures
                    through Spring Security. Additionally, I adeptly manage
                    databases such as MySQL and Postgres, ensuring seamless data
                    management and reliability.
                </p>
            </div>
        </div>

        <div class="card card-2">
            <div class="card__header">
                <div class="card__icons">
                    <img src="./assets/icons/angular_whiteTransparent.png" alt="" class="card__icon" />
                </div>
                <div class="card__titles">
                    <h2 class="card__title"><span class="card__title--span">Front end </span>developer</h2>
                </div>
            </div>
            <div class="card__body">
                <p class="card__text">
                    I have knowledge in Angular and I am capable of building web
                    applications ranging from simple static pages to robust
                    single-page applications.

                    <!-- Right now, I'm learning Angular, a framework that I find
                    interesting when paired with Java on the backend. This is
                    because I have experience with JSP technology and I want to
                    update my stack to build more modern web applications. -->
                </p>
            </div>
        </div>

        <div class="card card-3">
            <div class="card__header">
                <div class="card__icons">
                    <img src="./assets/icons/softSkills.png" alt="" class="card__icon card__icon--filter" />
                </div>
                <div class="card__titles">
                    <h2 class="card__title"><span class="card__title--span">Soft </span>skills</h2>
                </div>
            </div>
            <div class="card__body">
                <p class="card__text">
                    I possess strong soft skills, honed through my studies in
                    journalism and my experience as a waiter. Both roles
                    demanded effective communication with individuals,
                    emphasizing the importance of articulating ideas accurately
                    and connecting well with people.
                </p>
            </div>
        </div>
    </div>
</section>