<section class="box hero" id="home">
    <div class="hero__texts">
        <div class="hero__titles">
            <h1 class="hero__title">patricio abarca</h1>
            <h2 class="hero__subtitle">
                Backend web developer with knowledge in Java, Spring Boot, SQL &
                Typescript.
            </h2>
        </div>
        <div class="hero__content">
            <p class="hero__description">
                Hi, I'm from Chile and currently graduate from Coding Dojo and
                Oracle Next Education bootcamps, specializing in <span class="hero__description--span">backend
                    development.</span>
            </p>
        </div>
    </div>

    <div class="hero__icons">
        <a class="hero__button" href="https://github.com/patosinsuerte" target="_blank">
            <img src="./assets/icons/github-mark.svg" alt="Github"
                class="hero__button-img resume__button-img--github" />
        </a>
        <a class="hero__button" href="https://www.linkedin.com/in/patricio-abarca-718646288/" target="_blank">
            <img src="./assets/icons/lin.png" alt="Github" class="hero__button-img" />
        </a>
    </div>
</section>