<section class="box proyects" id="projects">
    <div class="proyects__titles">
        <h1 class="proyects__title">PROJECTS</h1>
    </div>

    <div class="cards">
        <div class="card">
            <div class="card__images">
                <img src="./assets/images/esquinaPetProject.png" alt="Proyect" class="card__image" />
            </div>
            <div class="card__information">
                <div class="card__text">
                    <h2 class="card__title">Esquina pet veterinary</h2>
                    <p class="card__description">
                        I am currently developing the website and appointment booking system for Esquina Pet veterinary
                        clinic with authentication and authorization. In development...
                    </p>
                </div>
                <div class="card__tags">
                    <div class="card__tag-div">SPRING BOOT</div>
                    <div class="card__tag-div">POSTGRESQL</div>
                    <div class="card__tag-div">ANGULAR</div>
                    <div class="card__tag-div">DOCKER</div>
                </div>
            </div>
        </div>

        <!-- <div class="card">
            <div class="card__images">
                <img src="./assets/images/esquinaPetProject.png" alt="Proyect" class="card__image" />
            </div>
            <div class="card__information">
                <div class="card__text">
                    <h2 class="card__title">Proyect title</h2>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Non sapiente iure omnis, tempora impedit pariatur fuga
                        placeat adipisci expedita nemo ea maiores obcaecati
                        molestias aliquid ad eaque mollitia corrupti inventore.
                    </p>
                </div>
                <div class="card__tags">
                    <div class="card__tag-div">GOLANG</div>
                    <div class="card__tag-div">SPRING BOOT</div>
                    <div class="card__tag-div">SQL</div>
                </div>
            </div>
        </div> -->

        <!-- <div class="card">
            <div class="card__images">
                <img src="./assets/images/proyect.png" alt="Proyect" class="card__image" />
            </div>
            <div class="card__information">
                <div class="card__text">
                    <h2 class="card__title">Proyect title</h2>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Non sapiente iure omnis, tempora impedit pariatur fuga
                        placeat adipisci expedita nemo ea maiores obcaecati
                        molestias aliquid ad eaque mollitia corrupti inventore.
                    </p>
                </div>
                <div class="card__tags">
                    <div class="card__tag-div">GOLANG</div>
                    <div class="card__tag-div">GOLANG</div>
                    <div class="card__tag-div">GOLANG</div>
                </div>
            </div>
        </div> -->
    </div>
</section>