<section class="box information" id="about">
    <div class="information-about">
        <h2 class="information-about-title">ABOUT ME</h2>
    </div>

    <div class="information-container">
        <div class="information__text">
            <div class="information__titles">
                <h2 class="information__title">
                    Hi, I'm<span class="information__title information__title--orange">
                        Patricio.</span>
                </h2>
                <h3 class="information__subtitle">
                    I'm a programmer focused on backend development and cloud
                    solutions
                </h3>
            </div>
            <div class="information__description">
                <p class="information__description-text">
                    My academic training is as a journalist, but a little over a
                    year ago I decided to become a programmer starting at two
                    opportunities I had: a scholarship provided by the Forge
                    Foundation to study web development with Java at Coding
                    Dojo, and the Oracle Next Education scholarship to study
                    backend development with Java provided by Oracle.
                    <!-- Periodista de formacion academica, hace un poco mas de un
                    ano decidi convertirme en programador a a partir de dos
                    oportunidades que tuve: una beca proporcionada por fundacion
                    forge que obtuve para estudiar desarrollo web con Java en
                    Coding Dojo y la beca de Oracle Next Education para estudiar
                    desarrollo backend con Java. -->
                </p>
                <p class="information__description-text">
                    I consider myself a very organized person, with a great
                    capacity for learning and a strong development of soft
                    skills such as communication, empathy, and resilience.
                    However, I believe that what sets me apart the most is my
                    personal commitment to continue growing as a programmer.
                    <!-- Me considero una persona muy organizada, con gan capacidad
                    de aprendizaje y con un buen desarrollo de habilidades
                    blandas como la comunicacion, la empatia y la resiliencia.
                    Sin embargo, creo que lo que más me destaca es mi compromiso
                    personal de seguir creciendo como programador. -->
                </p>
            </div>
        </div>
        <div class="information__images">
            <img class="information__image" src="./assets/images/profile.png" alt="Profile photo" />
        </div>
    </div>
</section>